mixin footer()
  - var data = getData('footer')

  +b.Footer&attributes(attributes)
    +e.top
      .container
        +e.top-menu
          each item in data.topMenu
            +e.top-menu-link(class=item.class)
              a(href=item.link)
                span!= item.text

    +e.middle
      .container
        +e.contacts.show-lg
          each item in data.contacts
            +e.contact
              +icon('phone_footer')
              a(href="tel:" + item.tel)!= item.tel
              p!= item.text

        +e.menu
          each item in data.menu
            +e.item(class=item.class)
              +e.link(class='Footer-Link')
                span!= item.text
                +icon('arrow_footer', true).show-lg

              if item.submenu
                +e.submenu
                  each subitem in item.submenu
                    +e.subitem
                      if subitem.link
                        a(href=subitem.link.href)!= subitem.link.text
                      if subitem.text
                        p!= subitem.text
                      if subitem.socials
                        +e.socials
                          each link in data.socials
                            +e.A.social-link(href="#", target="_blank")
                              +icon(link.icon)

        +subscribe-form.__subscribe-form

    +e.bottom
      .container
        p.Footer-Copyright.hide-lg Developed & designed by <a href="#" target="_blank">Mageguide</a>
        +e.payment-systems
          each item in data.systems
            +e.A.payment-system(href="#")
              img(src=item)

mixin ui-kit-footer()
  +ui-section
    +ui-section-head
      +ui-title Footer
      +ui-path
        p Component: components/footer/footer

    +ui-section-content(true)
      +footer

    //- With +ui-section-content(true) container disappears
    //- Choose +ui-elements-list() for creating list of inline elements
    //- Border for special section: +ui-special()
