mixin menu()
  +b.menu&attributes(attributes)
    each item in ["menu-1", "menu-2", "menu-3"]
      +e.wrapper(data-menu=item)
        .container.container_small
          +e.main-links
            each item in getData('menu').mainLinks
              +e.A.main-link(class=item.class, href=item.link)!= item.text

          +e.section
            +e.section-title KATHΓΟΡΙΕΣ
            +e.section-content
              each menu in getData('menu').items
                +e.UL.items(class=menu.class)
                  each item in menu.items
                    +e.LI.item
                      +e.A.link(class=item.class)!= item.text
                      if item.submenu
                        +e.UL.submenu
                          each subitem in item.submenu
                            +e.LI.subitem
                              +e.A.link(class=subitem.class)!= subitem.text

          +e.section
            +e.section-title SHOP BY OCCASSION
            +e.section-content
              each item in getData('menu').occassion
                +e.A.occassion-item(href="#")
                  +e.occassion-image
                    img(src=item.image)
                  +e.occassion-text!= item.text

          +e.images
            each item in getData('menu').images
              div
                img(src=item alt="@@")



mixin ui-kit-menu()
  +ui-section
    +ui-section-head
      +ui-title Component menu
      +ui-path
        p Component: components/menu/menu
      +ui-description
        p Component description

    +ui-section-content()
      +menu

    //- With +ui-section-content(true) container disappears
    //- Choose +ui-elements-list() for creating list of inline elements
    //- Border for special section: +ui-special()
