mixin popups()
  +b.popups&attributes(attributes)
    +popup(getData('signInOut'))
    +notify-popup

mixin popup(data)
  +b.popup&attributes(attributes)(id=data.id)
    +icon('close').__close(data-fancybox-close="")

    +e.wrapper
      +e.content
        +e.links
          each link in data.links
            +e.BUTTON.link(type="button", class=link.class, data-login-target=link.target)!= link.text

        +e.forms
          each form in data.forms
            +e.FORM.form(action="#", method="post", data-login-form=form.id, class=form.class, data-parsley-validate)
              +e.form-wrapper
                each item in form.blocks
                  +inputbox(class=item.boxClass)
                    case item.type
                      when "input"
                        +label!= item.label
                        +input(type=item.inputType, name=item.name, placeholder=item.placeholder, required=item.required, data-parsley-equalto=item.equalTo, id=item.id)
                      when "checkbox"
                        +checkradio(false, item.name, item.value, false, item.required)!= item.text
                      when "button"
                        +button('button')(type="submit")!= item.text
                      when "link"
                        +e.A.link(href=item.href)!= item.text
                      when "text"
                        +e.P.text!= item.text
                      when "final"
                        +form-final

      +e.images
        img(src="assets/images/login/1.jpg")

        +e.info
          +e.info-wrapper
            +e.P.info-title!= data.info.title
            +e.UL.info-list
              each item in data.info.items
                +e.LI.info-item
                  +icon('tick_simple')
                  span!= item

mixin ui-kit-popups
  +ui-section
    +ui-section-head
      +ui-title Попапы
      +ui-path
        p Block: blocks/popups/popups
      +ui-description
        p На ссылку вешается класс .js-fancybox, в [href] указывается id попапа (href="#popup")
        p Демонстрация попапов на странице <a href="sitemap.html">sitemap.html</a>

    //- При +ui-section-content(true) контейнер отсутствует
    //- Для перечисления инлайновых блоков используется миксин +ui-elements-list()
    //- Рамка вокруг особой секции: +ui-special()
