mixin product-card(data)
  +b.ProductCard&attributes(attributes)
    +e.top
      +e(data.slider ? 'div' : 'a').image(href=(data.slider ? false : "#"), class='ProductCard-Picture')
        if data.slider
          a(href="#")
            img(src=data.image)
        else
          img(src=data.image)

        if data.slider
          +e.slider-wrapper
            +e.DIV.slider.swper-container
              .swiper-wrapper
                each item in data.slider
                  +e.slide.swiper-slide
                    img(src=item, alt="@@")

              +e.arrow._prev
                +icon('arrow_right')

              +e.arrow._next
                +icon('arrow_right')


      +e.sizes.hide-lg
        +e.sizes-title choose your size
        +e.sizes-items
          each item in getData('sizes')
            +e.A.size(href="#", disabled=item.disabled)!= item.text
      +e.LABEL.favourite
        input(type="checkbox" name="favourite")
        +icon('heart')

    .ProductCard-Content
      +e.A.button(href="#", class=(data.special ? '_dark' : false)).__button.show-lg χρωματα

      +e.texts
        a.ProductCard-Name(href="#")!= data.title
        .ProductCard-Prices
          if data.newPrice
            .ProductCard-Price.ProductCard-Price_new!= data.newPrice
          .ProductCard-Price!= data.price

      if data.colors
        +e.colors
          each color in data.colors
            button.ProductCard-Color(type="button", style="" + (color.color ? ('background-color: ' + color.color + ';') : '') + (color.image ? ('background-image: url(' + color.image + ');') : ''))

mixin ui-kit-product-card()
  +ui-section
    +ui-section-head
      +ui-title Product card
      +ui-path
        p Component: components/product-card/product-card

    +ui-section-content()
      +product-card(getData('product-cards')[0])

    //- With +ui-section-content(true) container disappears
    //- Choose +ui-elements-list() for creating list of inline elements
    //- Border for special section: +ui-special()
