mixin burger-menu()
  - var data = getData('burger-menu');

  +b.burger-menu&attributes(attributes)
    each screen in data.screens
      +e.screen(data-burger-screen=screen.id, class=screen.class)
        case screen.id
          when "main"
            +e.main-items
              each item in screen.items
                +e(item.link ? 'a' : 'div').main-item(href=item.link, data-burger-target-screen=item.targetScreen)
                  span!= item.text
                  if item.targetScreen
                    +icon('arrow_right')
          default
            +e.header
              +icon('arrow_left_light').__back(data-burger-target-screen=screen.previousID)
              +e.P.title!= screen.title
            +e.links
              each item in screen.links
                +e(item.link ? 'a' : 'div').__link(href=item.link, data-burger-target-screen=item.targetScreen)
                  span!= item.text
                  if item.targetScreen
                    +icon('arrow_left_light')

