mixin filters-section(name)
  +e.section&attributes(attributes)
    +e.section-header.CategoryFilterOverlay-ExpandableContentButton
      +e.P.section-title!= name
      +e.P.section-active-items 123, 123, 123, 123
      +e.icon
        +icon('arrow_right_burger')
      +icon('checkbox_tick').__header-tick

    +e.section-content.CategoryFilterOverlay-ExpandableContentContent
      block

mixin filters()
  +b.filters.CategoryFilterOverlay&attributes(attributes)
    +e.header
      +e.P.title φιλτρα
      +e.P.results 134 προϊόντα
      +icon('close').__close.show-lg.js-filters-close

    +e.content
      +filters-tags

      each section in getData('filters')
        +filters-section(section.title)(class=section.class).CategoryFilterOverlay-Filter
          if section.categories
            each category in section.categories
              +e.category
                +e.category-title(href=category.titleLink, class=(category.accordion ? 'js-category-accordion' : false))
                  span!= category.titleText
                  if category.accordion
                    +icon('arrow_right_burger')
                if category.accordion
                  +e.category-accordion
                    each item in category.accordion
                      +e.A.category-link(href="#")!= item

          if section.checkboxes
            +e.scroll.js-scrollbar
              +e.container
                each item in section.checkboxes
                  +e.LABEL.checkbox.ProductAttributeValue
                    +e.INPUT.checkbox-input(type=item.type, name=item.name, value=item.value, checked=item.checked)
                    +e.checkbox-content
                      +e.checkbox-box
                      if item.color
                        +e.checkbox-color(style="background: " + item.color + ";")
                      +e.SPAN.checkbox-text.ProductAttributeValue-String!= item.text
                      +icon('checkbox_tick').__checkbox-tick.show-lg

          if section.range
            +range.__range(data-min=section.range.from, data-max=section.range.to, data-start=section.range.start)

    +e.buttons.show-lg
      +button('button').__button(type="button")._dark.js-filters-close.CategoryFilterOverlay-SeeResults ΕΦΑΡΜΟΓΗ ΦΙΛΤΡΩΝ
      +e.BUTTON.button(type="button")._clear.js-filters-clear.CategoryFilterOverlay-ResetButton ΑΦΑΙΡΕΣΗ ΦΙΛΤΡΩΝ

mixin ui-kit-filters()
  +ui-section
    +ui-section-head
      +ui-title Filters
      +ui-path
        p Component: components/filters/filters

    +ui-section-content()
      +filters

    //- With +ui-section-content(true) container disappears
    //- Choose +ui-elements-list() for creating list of inline elements
    //- Border for special section: +ui-special()
